<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CIDI-WEB</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<servlet-class>de.cidi.Login</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>sentData</servlet-name>
  	<servlet-class>de.cidi.SENTDATA</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>sentData</servlet-name>
  	<url-pattern>/sentData</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>close</servlet-name>
  	<servlet-class>de.cidi.CLOSE</servlet-class>
  </servlet>
   <servlet>
  	<servlet-name>Logout</servlet-name>
  	<servlet-class>de.cidi.Logout</servlet-class>
  </servlet>
   <servlet-mapping>
  	<servlet-name>Logout</servlet-name>
  	<url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>close</servlet-name>
  	<url-pattern>/close</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>getData</servlet-name>
  	<servlet-class>de.cidi.GETDATA</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>getData</servlet-name>
  	<url-pattern>/getData</url-pattern>
  </servlet-mapping>
  
</web-app>